@model Corebible.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
} 
@{Layout = null;}

<link href="~/Assets/plugins/bootstrap3-wysihtml5/css/bootstrap3-wysihtml5.min.css" rel="stylesheet" />
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ProfilePic, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input type="file" name="Upload Your Profile Pic" class=" form-control" />
            <div id="fileDisplay" style="max-width: 180px; max-height:200px; padding-top: 10px">
                @*@if (Model.ProfilePic != null)
                {
                    <img src="@Model.ProfilePic" alt="Profile Picture" style="border: 1px solid #8da0aa ; margin-top: 15px; max-width: 180px; max-height:300px; background-color: white" />
                }*@
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TimeZone, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("TimeZone", null, new { @class = "searchable-select" })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Bio, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <textarea class="bootstrap-wysihtml5-textarea" name="Bio" placeholder="Please Enter A Bio..." style="width: 100%; height: 250px; font-size: 14px; line-height: 23px;padding:15px;"></textarea>

        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>
        var fileInput = document.getElementById('fileUpload');
        var fileDisplayArea = document.getElementById('fileDisplay');

        //File Reader Function for displaying images
        fileInput.addEventListener('change', function (e) {
            var file = fileInput.files[0];
            var imageType = /image.*/;

            if (file.type.match(imageType)) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    fileDisplayArea.innerHTML = "";

                    // Create a new image.
                    var img = new Image();
                    // Set the img src property using the data URL.
                    img.src = reader.result;
                    // Add the image to the page.
                    fileDisplayArea.appendChild(img);
                }

                reader.readAsDataURL(file);
            }

            else {
                fileDisplayArea.innerHTML = "File not supported!";
            }
        });
</script>




}



<body class="main">
    <div class="login-screen"></div>
    <div class="login-center">
        <div class="container min-height" style="margin-top: 20px;">
            <div class="row">
                <div class="col-xs-4 col-md-offset-8">
                    <div class="login" id="card">
                        <div class="front signin_form">
                            <p>Login Your Account</p>
                            <form class="login-form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="email" class="form-control" placeholder="Type your email">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-user"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="password" class="form-control" placeholder="Type your password">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox">Remember me next time.</label>
                                </div>

                                <div class="form-group sign-btn">
                                    <input type="submit" class="btn" value="Log in">
                                    <p><a href="#" class="forgot">Can't access your account?</a></p>
                                    <p><strong>New to TimeInfo?</strong><br><a href="#" id="flip-btn" class="signup signup_link">Sign up for a new account</a></p>
                                </div>
                            </form>
                        </div>
                        <div class="back signup_form" style="opacity: 0;">
                            <p>Sign Up for Your New Account</p>
                            <form class="login-form">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Username">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-user"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <span class="input-group-btn"><button type="button" class="btn btn-cyan"><span class="fa fa-refresh"></span></button></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="password" class="form-control" placeholder="Confirm Password">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="email" class="form-control" placeholder="Email">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-envelope"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group sign-btn">
                                    <input type="submit" class="btn" value="Sign up">
                                    <br><br>
                                    <p>You have already Account So <a href="#" id="unflip-btn" class="signup">Log in</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Flip/1.0.18/jquery.flip.js"></script>

</body>