@model Corebible.Models.CodeFirst.Groups
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
    var user = User.Identity.GetUserId();
}

<head>
    <style>
        .comment-container {
            border: 2px solid #dedede;
            background-color: #f1f1f1;
            border-radius: 5px;
            padding: 10px;
        }

            .comment-container::after {
                content: "";
                clear: both;
                display: table;
            }

            .comment-container img {
                float: left;
                max-width: 120px;
                width: 100%;
                margin-right: 20px;
                border-radius: 50%;
            }

        .time-right {
            float: right;
            color: #aaa;
        }

        .name-left {
            float: left;
            color: #aaa;
        }
    </style>
</head>


<a href="@Url.Action("Index", "Groups")">
    <span class="fa fa-arrow-circle-left" style="font-size:32px"></span>
</a>

<br />
<br />

<div class="row">
    <div class="col-md-10">
        <h2>@Model.Name</h2>

        <h4>
            <i>
                @Html.DisplayFor(model => model.Description)
            </i>
        </h4>
    </div>
    <div class="col-md-2">
        <center>
            <a href="#" title="Report Group" class="btn btn-danger">Report Group</a>

            <br />
            <br />

            @if (User.Identity.GetUserId() == Model.OwnerId)
            {
                <a href="@Url.Action("Edit", "Groups", new { id = Model.Id })" title="Edit Group">
                    <span style="font-size:25px" class="fa fa-pencil-square-o"></span>
                </a>

                <span>&nbsp; &nbsp;</span>

                <a href="@Url.Action("Delete", "Groups", new { id = Model.Id })" title="Delete Group">
                    <span style="font-size:25px;color:red" class="fa fa fa-trash-o"></span>
                </a>
            }
        </center>
    </div>
</div>

<hr />
<br />

<div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="text-center">
                        Status
                    </h3>
                </div>
                <div class="panel-body">
                    <center>
                        @if (Model.Active == true)
                        {
                            <p>Active</p>
                        }
                        else
                        {
                            <p>Closed</p>
                        }
                    </center>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <h2 class="text-center">
                        Members
                    </h2>
                </div>
                <div class="panel-body">
                    <center>
                        @if (Model.Members.Count == 0)
                        {
                            <i>This Group has no Members</i>
                        }
                        else
                        {
                            foreach (var member in Model.Members)
                            {
                                @member.FullName <br />
                            }
                        }
                    </center>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="text-center">
                        Group Owner
                    </h3>
                </div>
                <div class="panel-body">
                    <center>
                        <a style="color:black" href="@Url.Action("UserProfile", "Account", new { id = Model.OwnerId }, null)">
                            @Model.Owner.FullName
                        </a>
                    </center>
                </div>
            </div>
        </div>
    </div>

</div>

<center>
    <h2>
        Chat with your Group
    </h2>

    @using (Html.BeginForm("CreateComment", "Groups", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <input name="GroupId" value="@Model.Id" hidden />

        <textarea class="text-center" placeholder="Message to your group members..." name="Body" cols="80" rows="5"></textarea>

        <br />

        <input type="submit" value="Send Message" class="btn btn-primary" />

    }
</center>

<br />

<!--COMMENTS-->
@if (Model.Comments.Count == 0)
{
    <i>No Messages at this time..</i>
}
else
{
    foreach (var comment in Model.Comments)
    {
        <div class="comment-container">
            <a class="pull-right" href="@Url.Action("DeleteComment", "Groups", new { id = comment.Id })">Delete</a>

            <a href="@Url.Action("UserProfile", "Account", new { id = comment.AuthorId })">
                <img src="@comment.Author.ProfilePic" alt="Profile Picture" />
            </a>

            <br />

            <p>@comment.Body</p>

            <br />

            <a href="@Url.Action("UserProfile", "Account", new { id = comment.AuthorId })">
                <p class="name-left">@comment.Author.FullName</p>
            </a>
            <p class="time-right">@comment.Created.ToString("d")</p>
        </div>
    }
}

